---
import { PROFILE } from "../../content/profileData";
---
<div class="mt-2 flex w-full flex-wrap items-center justify-start gap-2 text-center">
  {
    PROFILE.studies.map((study) => (
      <div>
        <span class="text-primary text-sm">{study.title}</span> - <span class="text-sm font-medium">{study.institution}</span>
      </div>
    ))
  }
</div>

